/* PSEUDOCLASES */
button{
    background-color:brown;
    padding: 9px;
    border-radius: 9px;
}

button:hover{
    background-color: red;
    padding: 20px;
    color: blue;
    font-weight: bolder;
}

button:active{
    background-color: yellowgreen;
}

#textoRojo:target{
    color: red;
}

#textoAzul:target{
    color: blue;
}

input:focus{
    background-color: aqua;
}

/* Pseudo Elementos */

p::selection{
    background-color: red;
}

p::first-letter{
    border: 1px solid red;
    color: brown;
    background-color: aquamarine;
    font-size: 50px;
}

p::first-line{
    background-color: blueviolet;
}

p::before{
    content: "Soy un texto previo";
}

p::after{
    content: "soy el cierre de texto"
}