/*TIPOS DE POSICIONAMIENTO
static: viene predeterminado.
relative
absolute
fixed
*/

body{
    width: 500px;
    height: 2500px;
    border: 3px solid black;
    margin-left: 40px;
}

.caja{
border:1px solid black;
width: 100px;
height: 100px;
}

.caja1{
    background-color: blue ;
    position: relative;
    left: 30px;

}

.caja2{
    background-color: rebeccapurple ;
    position: relative;
    left: 40px;
}
.caja3{
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}
.caja4{
    background-color: yellow;
    position: fixed;
}