h1,h2,h3{
    width:75%;
    color: blue;
    border: solid red;
    font-size: 30px;
}

p span{
    color: brown;
}

/*Selector abyacente*/
h1 + h2{
    color: indianred;
}

/*Selectores de atributo*/
input[type=email] {
    background-color: rebeccapurple;
}
